@{
    ViewBag.Title = "AbsenceClaim";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

@Styles.Render("~/Content/AccountForm.css")

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-12">

            <div>
                <p>@ViewBag.Error</p>
            </div>

            @using (Html.BeginForm("FileClaim", "Forms", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <form>

                    <h1>File An Absence Claim</h1>
                    <table align="center">
                        <tr>
                            <td>
                                <label for="startTime">Start Time:</label>
                                <input type="date" id="startTime" name="startTime" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="endTime">End Time:</label>
                                <input type="date" id="endTime" name="endTime" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="description">Reason:</label>
                                <input type="text" id="description" name="description" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="claimType">Absence Type:</label>
                                <select name="claimType">
                                    <option value="illness">Illness</option>
                                    <option value="leaveofabsence">Leave Of Absence</option>
                                    <option value="bereavement">Bereavement</option>
                                    <option value="disaster">Natural Disaster</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <fieldset></fieldset>

                    <button name="submit" type="submit" id="SubmitRequest">Submit Request</button>
                </form>
            }
        </div>
    </div>
</div>