@{
    ViewBag.Title = "RequestSubmitted";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

<script>
    window.setTimeout(function () {
        window.location.href = "@Url.Action("Account", "UserDashboard")";
    }, 4000);
</script>
<body>
    <div class="alert alert-success">
        <center>
            <h1 style=" padding-top:8em; padding-bottom:8em;">Request Submitted!!</h1>
        </center>
    </div>
    
   
</body>
