@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-xs-4 col-md-4 text-center">
                <img src="/Content/Images/logotext.png" height="225" width="250" />

                <div>
                    <p style="background-color:red;color:red;">@ViewBag.Error</p>
                </div>

                @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()

                    <form>

                        <h1>Login</h1>

                        <fieldset>

                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required />

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required />
                        </fieldset>

                        <button name="submit" type="submit" id="login">Login</button><br />
                        <a href="@Url.Action("VerifyAccount", "Recovery")">
                            <span>Forgot Password?</span>
                        </a>
                        <br /><br /><br />
                        <a href="@Url.Action("Register", "Register")">
                            <span>I Need An Account</span>
                        </a>
                    </form>
                }
            </div>
            <div class="col-xs-4 col-md-4 text-right">
            </div>
        </div>
    </div>
    </body>
