@{
    ViewBag.Title = "ShiftManagement";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Pages</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
</head>

<style>
    body {
        background: #f4f4f4;
    }

    /* Custom */
    .main-color-bg {
        background-color: #e74c3c !important;
        border-color: #c0392b !important;
        color: #ffffff !important;
    }

    /* Header */
    #header {
        background: #333333;
        color: #ffffff;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

        #header .create {
            padding-top: 20px;
        }

    /* Breadcrumb */
    .breadcrumb {
        background: #cccccc;
        color: #333333;
    }

        .breadcrumb a {
            color: #333333;
        }

    /* Progress Bars */
    .progress-bar {
        background: #333333;
        color: #ffffff;
    }

    .dash-box {
        text-align: center;
    }

    #login {
        margin-top: 30px;
    }
</style>
<body>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="/AdminDashboard/AdminDashboard" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                        </a>
                        <a href="/AdminDashboard/ManageEmployees/" class="list-group-item"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Manage Employees </a>
                        <a href="/AdminDashboard/MakeSchedule/" class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Make Schedule </a>
                        <a href="/AdminDashboard/ManageRequests/" class="list-group-item"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Manage Requests </a>
                        <a href="/AdminDashboard/ShiftManagement/" class="list-group-item"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Shift Management </a>
                        <a href="/AdminDashboard/DownloadSchedule/" class="list-group-item"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> View/Download Schedule </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Pages</h3>
                        </div>
                        <div class="panel-body">

                            <br>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Requestor</th>
                                        <th>Requestor shift</th>
                                        <th>Requesting With</th>
                                        <th>Requesting With Shift</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Janus.Models.ShiftSwapViewModel item in ViewBag.data)
                                    {
                                        <tr>
                                            <td>
                                                @item.requestor
                                            </td>

                                            <td>
                                                @item.requestorShift
                                            </td>
                                            <td>
                                                @item.requestWith
                                            </td>
                                            <td>
                                                @item.requestWithShift
                                            </td>

                                            <td>
                                                <a class="btn btn-default popup" href="/AdminDashboard/approveshift/@item.shiftRequestID">Approve</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger popup" href="/AdminDashboard/denyshift/@item.shiftRequestID">Deny</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <script src="~/Scripts/jquery-3.1.1.min.js"></script>
                            <script src="~/Scripts/jquery.validate.min.js"></script>
                            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                            <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
                            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

                            <script>
                                $(document).ready(function () {

                                    $('.employeeTable').on('click', 'a.popup', function (e) {
                                        e.preventDefault();
                                        OpenPopup($(this).attr('href'));
                                    })
                                    function OpenPopup(pageUrl) {
                                        var $pageContent = $('<div />');
                                        $pageContent.load(pageUrl, function () {
                                            $('#popupForm', $pageContent).removeData('validator');
                                            $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                                            $.validator.unobtrusive.parse('form');

                                        });

                                        $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                                            .html($pageContent)
                                            .dialog({
                                                draggable: false,
                                                autoOpen: false,
                                                resizable: false,
                                                model: true,
                                                title: 'Popup Dialog',
                                                height: 550,
                                                width: 600,
                                                close: function () {
                                                    $dialog.dialog('destroy').remove();
                                                }
                                            })

                                        $('.popupWindow').on('submit', '#popupForm', function (e) {
                                            var url = $('#popupForm')[0].action;
                                            $.ajax({
                                                type: "POST",
                                                url: url,
                                                data: $('#popupForm').serialize(),
                                                success: function (data) {
                                                    if (data.status) {
                                                        $dialog.dialog('close');
                                                        //oTable.ajax.reload();
                                                        window.location.href = "/AdminDashboard/ManageEmployees"
                                                    }
                                                }
                                            })

                                            e.preventDefault();
                                        })

                                        $dialog.dialog('open');
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>