@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

<h2>Mail</h2>
<table>
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Janus.Models.MailViewModel item in ViewBag.data)
        {
            <tr>
                <td>
                    @item.mailFromUsername
                </td>

                <td>
                    @item.mailToUsername
                </td>
                <td>
                    @item.subject
                </td>
                <td>
                    @item.body
                </td>

                <td>
                    <a class="btn btn-success popup" href="/UserDashboard/acceptmail/@item.shiftRequestID">Accept </a>
                    <a class="btn btn-danger popup" href="/UserDashboard/denymail/@item.shiftRequestID">Deny</a>
                </td>
            </tr>
        }
    </tbody>
</table>