@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_MainNavigationLayout.cshtml";
}

<h2>Reuqest Forms</h2>

<a href="/Forms/BookOff">Book Time Off</a>
<a href="/Forms/AbsenceClaim">File an Absence Claim</a>
<a href="/Forms/SwitchShift">Switch a Shift</a>