@{
    ViewBag.Title = "Landing Page";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

<style>
</style>
<body>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-12 text-center">
                <img src="/Content/Images/logotext.png" height="225" width="250" /><br /><br />
                <br /><br />
                <button style="width:20em;" id="SubmitRequest" onclick="location.href='@Url.Action("Register", "Register")'">Register</button><br />
                <button style="width:20em;" id="SubmitRequest" onclick="location.href='@Url.Action("Login", "Login")'">Log In</button>
            </div>
        </div>
    </div>
</body>