
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-xs-4 col-md-4 text-center">
                <img src="/Content/Images/logo.png" height="225" width="250" />
            </div>
            <div class="col-xs-4 col-md-4 text-right">
            </div>
        </div>
    </div>
    
    <div class="row">
        <form>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname">
             Email:<br>
            <input type="email" name="lastname">
        </form>
    </div>
</div>

