

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-4 col-md-4 text-center">
            <img src="/Content/Images/logo.png" height="225" width="250" style="margin-left: 6em;" />


            <div>
                <p>@ViewBag.Error</p>
            </div>

            @using (Html.BeginForm("CreateUser","Register", FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                <form id="contact">



                    <h3>Create Account</h3>




                    <fieldset>
                        <input placeholder="Your First Name" type="text" id="firstName" name="firstName" required/>
                    </fieldset>

                    <fieldset>
                        <input placeholder="Your Last Name" type="text"id="lastName" name="lastName" required/>
                    </fieldset>

                    <fieldset>
                        <input placeholder="Street Address" type="text" id="streetAddress" name="streetAddress" required />
                    </fieldset>

                    <fieldset>
                        <input placeholder="Postal Code" type="text" id="postalCode" name="postalCode" required/>
                    </fieldset>

                    <fieldset>
                        <input placeholder="Phone" type="tel" id="phone" name="phone"  required />
                    </fieldset>

                    <fieldset>
                        <input placeholder="Birthday" type="text"  id="birthDate" name="birthDate" required/>
                    </fieldset>

                    <fieldset>
                        <label>Department: </label>
                        <select name="departmentList">
                            <option value="1" selected>Sales Floor</option>
                            <option value="2">Music Lessons</option>

                        </select>
                    </fieldset>

                    <fieldset>
                        <input placeholder="Your Email" type="email" id="email" name="email" required />
                    </fieldset>

                    <fieldset>
                        <input placeholder="Password" type="password" id="password" name="password" required/>
                    </fieldset>

                    <fieldset>
                        <input placeholder="Confirm Password" type="password" id="confirmpassword" name="confirmpassword" required />
                    </fieldset>




                    <fieldset>
                        <label for="role">Role Type:</label>
                        <select name="roles">
                            <option value="Employee" selected>Employee</option>
                            <option value="Manager">Manager</option>

                        </select>

                    </fieldset>



                    <feildset>
                        <label>Security Question: </label>
                        <select name="questionList">
                            <option value="What was your favorite Elementary School Teacher's Name?" selected>What was your favorite Elementary School Teacher's Name?</option>
                            <option value="In What city did your mother and father meet?">In What city did your mother and father meet?</option>
                            <option value="What is your youngest sibling's birthday?">What is your youngest sibling's birthday?</option>
                            <option value="What is the first name of the boy or girl that you first kissed?">What is the first name of the boy or girl that you first kissed?</option>
                            <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                            <option value="What was your childhood nickname?">What was your childhood nickname?</option>

                        </select>


                    </feildset>

                    <fieldset>
                        <input placeholder="Security Answer" type="text" id="securityAnswer" name="securityAnswer" required/>
                    </fieldset>

                    <fieldset>
                        <button name="submit" type="submit" id="contact-submit">Create Account</button>
                    </fieldset>

             

                </form>


            }

        
        </div>
        <div class="col-xs-4 col-md-4 text-right">
        </div>
    </div>
</div>

