@{
    ViewBag.Title = "ReigstrationConfirmed";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

<script>
    window.setTimeout(function () {
        window.location.href = "@Url.Action("Login", "Login")";
    }, 4000);
</script>

<div style="text-align:center;">
    <img src="~/Content/Images/accountcreated.png" />
</div>