@{
    ViewBag.Title = "ReigstrationConfirmed";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

<script>
    window.setTimeout(function () {
        window.location.href = "@Url.Action("Login", "Login")";
    }, 4000);
</script>
<body>
    <div class="alert alert-success">
        <center>
            <h1 style=" padding-top:8em; padding-bottom:8em;">Password Changed!!</h1>
        </center>
    </div>
</body>