@{
    ViewBag.Title = "SecurityQuestion";
    Layout = "~/Views/Shared/_AccountFormLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-4 col-md-4 text-center">
            <img src="/Content/Images/logo.png" height="225" width="250" style="margin-left: 6em;" />
            @using (Html.BeginForm("VerifyAnswer", "Recovery", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <form>

                    <h1>Answer Security Question</h1>

                    <fieldset>

                        <label for="questionList">Security Question:</label>
                        <label>@ViewBag.Question</label>

                        <label for="securityAnswer">Answer:</label>
                        <input placeholder="Security Answer" type="text" id="securityAnswer" name="securityAnswer" required />
                    </fieldset>

                    <button name="submit" type="submit">Verify Answer</button>
                </form>
            }
        </div>
        <div class="col-xs-4 col-md-4 text-right">
        </div>
    </div>
</div>